* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

main { 
  padding: 20px 20px; 
  background-color: #aaaaaa; 
  color: #000000; 
  min-height: 80vh; 
}

.nav-link {
  transition: color 0.2s ease;
}

.nav-link:hover {
  color:white !important; 
}

.intro h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.intro p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  color: rgba(46, 46, 46, 0.85);
}

.card {
  border-radius: 12px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 8px 8px 16px rgba(81, 81, 81, 0.4),
              -8px -8px 16px rgba(255, 255, 255, 0.5);
}
.card h3 {
  margin-bottom: 10px;
}
.card p,
.card ul {
  font-size: 15px;
  line-height: 1.6;
  color: #000;
}
.card ul {
  padding-left: 20px;
}
.site-footer{
  text-align:center;
  padding-top:500px;
  background:#07131a;
  color:#e9f6fb;
  font-size:13px;
}