body {
    background-color: #b6b6b6;
    color: #616161;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

.container {
    background-color: #b6b6b6;
    padding: 30px 37px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(81, 81, 81, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.5);
    size: 600px;
    width: 425px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    padding-top: 1px;
    font-weight: bold;
    color: #000000;
}

p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 25px;
}

.type {
    padding-top: 5px;
    text-align: left;
    margin-bottom: 10px;
}

label {
    display: block;
    padding-top: 1px;
    font-size: 14px;
    padding-left: 5px;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #b6b6b6;
    box-shadow: 10px 10px 20px rgba(81, 81, 81, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.5);
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 45%;
    padding: 10px;
    background-color: #a1a1a1;
    box-shadow: 10px 10px 20px rgba(81, 81, 81, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.5);
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #ffffff;
    color: #121212;
}
