.sidebar {
  min-height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
}
.sidebar .nav-link {
  color: #000000;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}
.nav-link:hover {
  background-color: #000000;
  color: #ffffff;
}
.custom-img {
  width: 50px;  
  height: 50px; 
  object-fit: cover;
}
.custom-checkbox {
  width: 20px;
  height: 20px;
}
.table {
  border-collapse: separate;  
  border-spacing: 0 12px;     
}

.table td, 
.table th {
  padding: 15px 12px;         
  background-color: #fff;    
}

.table tbody tr {
  border-radius: 8px;        
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
