body {
    
    background: url("b.jpg")   center center fixed;
    
    background-size: 50% 100%,50% 100%;
    color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:  #eeeeee;
    color: #000000;
    padding: 35px;
    border-radius: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    width: 425px;
    text-align: center;
}


h1 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 25px;
}

.type {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    padding-left: 5px;
    color: #000000;
}

input {
    width: 100%;
    padding: 12px;
    background-color: #bfbfbf;
    box-shadow: 10px 10px 20px rgba(212, 212, 212, 0.5);
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 45%;
    padding: 14px;
    background: linear-gradient(90deg, #191919, #c7c7c7);
    box-shadow: 10px 10px 20px rgba(212, 212, 212, 0.5);
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(90deg, #c7c7c7, #191919);
    transform: scale(1.05);
}
