.sidebar {
  min-height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
}
.sidebar .nav-link {
  color: #000000;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}
.nav-link:hover{
  background-color: #000000;
  color: #ffffff;
}

.custom-img {
  width: 50px;   
  height: 50px;
  object-fit: cover;
}
.custom-checkbox {
  width: 20px;
  height: 20px;
}

