.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.status-active {
  color: green;
  font-weight: 600;
}

.sidebar {
  min-height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
}
.sidebar .nav-link {
  color: #000000;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
}
.nav-link:hover{
  background-color: #000000;
  color: #ffffff;
}