body {
    background: url("b.jpg")   center center fixed;
    background-size: 50% 100%,50% 100%;
    color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

.container {
    background-color: #eeeeee;
    padding: 30px 37px;
    border-radius: 25px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    size: 600px;
    width: 425px;
    text-align: center;
    margin-top: 45px;
}

h1 {
    padding-top: 1px;
    font-weight: bold;
    color: #000000;
}

p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 25px;
}

.type {
    padding-top: 5px;
    text-align: left;
    margin-bottom: 10px;
}

label {
    display: block;
    padding-top: 1px;
    font-size: 14px;
    padding-left: 5px;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #bfbfbf;
    box-shadow: 10px 10px 20px rgba(212, 212, 212, 0.5);
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 45%;
    padding: 10px;
    background: linear-gradient(90deg, #191919, #c7c7c7);
    box-shadow: 10px 10px 20px rgba(212, 212, 212, 0.5);
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
     background: linear-gradient(90deg, #c7c7c7, #191919);
    transform: scale(1.05);
}
