body {
  margin: 0;
  background: url("b2.jpg")   center center fixed;
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 20px 30px;
  color: white;
}

.logo {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.open-app {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 14PX;
  cursor: pointer;
}

.open-app:hover {
  background: #ffffff;
  color: #000000;
}

.welcome {
  margin-top: 65px;
  padding: 130px;
}
.welcome p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #333;
}

.login {
  padding: 15px 51px;
  border: 1px solid #000000;
  box-shadow: 10px 15px 10px  rgba(81, 81, 81, 0.5);
  border-radius: 12px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 17PX;
  cursor: pointer;
}

.login:hover {
  background: #ffffff;
  color: #000000;
}
.signup {
  padding: 15px 45px;
  border: 1px solid #000000;
  box-shadow: 10px 15px 10px rgba(81, 81, 81, 0.5);
  border-radius: 12px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.signup:hover {
  background: #ffffff;
  color: #000000;
}
